*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-image: radial-gradient(circle, #d7e4ed, #d7e4ed, #d7e4ed, #d6e3ec, #d6e3ec);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
